<h1>Listing countries</h1>

<table id="countries_list" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered" data-url="<%= countries_path%>">
  <thead>
    <tr>
      <%= @presenter.display_column_headers(@columns_headers) %>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
